# Dependencies
node_modules

# Temp
**/tmp/*
!**/tmp/.gitkeep

# Secrets
.env
.env.local
.env.production.local
.env.development.local
!.env.test

# Build tools specific
npm-debug.log
yarn-error.log

# Editors specific
.fleet
.idea
.vscode

# Platform specific
.DS_Store
